/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}


.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    INDEX.HTML: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}


/* ===================
    googlegroups.html theme - Star Wars
   =================== */

body#googlegroups {
    background-image: url('../images/bg-stars.jpg');
    background-size: cover;
}

body#googlegroups .main-container {
    color: #fff;
}

body#googlegroups aside, body#googlegroups .header-container {
    box-shadow: none;
}

#googlegroups .header-container {
    background: #808080;
    border-bottom: 20px solid #4b4b4b;
}

#googlegroups aside {
    background: #808080;
    border-bottom: 20px solid #4b4b4b;
    border-top: 20px solid #4b4b4b;
}

#googlegroups .footer-container {
    background: #808080;
    border-top: 20px solid #4b4b4b;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

#googlegroups nav a {
    background: #4a47b9;
}




/* ===================
    facebook.html theme
   =================== */

#facebook
.header-container,
#facebook 
.footer-container,
#facebook
.main aside { 
    background: #3b5998;
}

#facebook .footer-container,
#facebook .main aside {
    border-top: 20px solid #ffad00;
}

#facebook .header-container {
    border-bottom: 20px solid #ffad00;
}

#facebook nav a {
    background: #ffad00;
    color: #fff;
}



/* ===================
    mailchimp.html theme
   =================== */



/* ===================
    slack.html theme
   =================== */


/* ===================
    tinyletter.html theme
   =================== */



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


h1.title { font-size: 30px; max-width: 400px; line-height: 1.2;}
.btn {
    color: #fff;
    padding: 10px;
    border: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.btn.facebook {
    background: #3b5998;
}
.btn.normal {
    background: #0F9D58;
}
a { text-decoration: none;}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 27px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.align-center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
